// @import "~bulma/sass/utilities/_all.sass";

html {
  overflow: auto;
}

body {
  margin: 0;
  font-family: 'Saira Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3A4068;
  min-height: 100vh;
  padding: 5px;
}

body, button, input, select, textarea {
  font-family: 'Saira Condensed', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
