.app{
  .panel-heading{
    $colorCorners: #0B0A46;
    $colorCenter: #161877;
    background-image: linear-gradient($colorCenter, $colorCorners);
    color: white;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #BCBCC9;
    &:first-child {
      border-top: 3px solid #BCBCC9;
    }
    margin-bottom: 15px;
  }
  .animated-image{
    width: 400px;
    position: fixed;
    left: -200px;
    top: -200px;
    animation: rotate 10s lininfinite;
    animation-delay: 0s;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}