.result-item {
  .custom-image {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
  }
  &.panel-block {
    color: white;
    strong, h4 {
      color: white;
    }
    border-left: none;
    border-right: none;
    border-bottom: none;
    box-shadow: inset 3px 3px 3px 0px rgba(255, 255, 255, 0.1),
                inset 0px -3px 3px 0px rgba(0, 0, 0, 0.3);
    &:first-child {
      border-top: none;
    }
  }
}