.search-bar {
  &.panel-block {
    display: inherit;
    position: relative;
  }
  background-color: #000432;
  border-color: #000432;

  .input, .select select {
    background-color: #000432;
    border-color: transparent;
    border-radius: 4px;
    color: #ffffff;
  }

  .input::-moz-placeholder, .textarea::-moz-placeholder, .select select::-moz-placeholder {
    color: white;
  }

  .input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder, .select select::-webkit-input-placeholder {
    color: white;
  }

  .input:-moz-placeholder, .textarea:-moz-placeholder, .select select:-moz-placeholder {
    color: white;
  }

  .input:-ms-input-placeholder, .textarea:-ms-input-placeholder, .select select:-ms-input-placeholder {
    color: white;
  }
}

